@use "../../styles/colors";


.avatar{
display: grid;
position: relative;    
place-items: center;
}

.image{
    object-fit: fill;
    border-radius: 50%;
    width: 100%;

}

.badge{
position: absolute;
bottom: 0;
left: 65%;
width: 25px;
height: 25px;
}
