@use "../../styles/colors";


.image{
    object-fit: fill;
    border-radius: 50%;
    width: 70%;
    height: 70%;
    
}
.avatar{
display: grid;
position: relative;    
border-style: dashed;
border-radius: 10px;
border-color: colors.$primary_main;
place-items: center;
border-width: 3px;
}

.badge{
position: absolute;
bottom: 12%;
left: 65%;
}