

.avatar{
    display: grid;
    position: relative;    
    border-style: dashed;
    border-radius: 10px;
    border-color: #4e24f2;
    place-items: center;
    border-width: 3px;
    }
    
    .image{
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
    
    .badge{
    position: absolute;
    bottom: 0;
    left: 65%;
    width: 25px;
    height: 25px;
    }